*{
    margin: 0;
    padding: 0;
    color: rgb(14, 14, 14);
}

@font-face {
    font-family: 'DINPro-Light';
    src: url('fonts/DINPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Bold';
    src: url('fonts/DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4ea5fc;
    backdrop-filter: blur(10px);
    padding: 0.5rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: sticky;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logo img{
    width: 70px;
    height: auto;
}
.list{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.list ul{
    display: flex;
    gap: 2rem;
}
.list li{
    display: flex;
    list-style-type: none;
    font-size: 1.2rem;
}
.list ul li a{
    color: rgb(75, 75, 75);
    display: block;
    text-decoration: none;
    transition: ease-in-out 300ms;
}
.list ul li a:hover{
    box-shadow: 0 2px rgb(225, 225, 225);
    color: rgb(225, 225, 225);
    text-shadow: 1px 3px 5px #ffffff;
}
.active{
    color: rgb(14, 14, 14);
    font-weight: bold;
    box-shadow: 0 2px rgb(14, 14, 14);
}
.active:hover{
    color: rgb(14, 14, 14);
    text-shadow: 0 0 0;
}
.ppdb{
    background-color: rgb(247, 236, 12);
    padding: 10px;
    border-radius: 5px;
}
.ppdb a{
    color: rgb(19, 19, 19);
    text-decoration: none;
    font-size: 1.2rem;
}
.hamburger-menu{
    display: none;
}
p{
    position: relative;
    font-size: 4rem;
}
.banner-container {
    width: 100%;
    max-width: 1500px; /* Adjust the max-width as needed */
    height: 350px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.banner-slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.banner-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-device-width: 1024px){
    .hamburger-menu{
        display: flex;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .list{
        display: none;
        align-items: flex-start;
        width: 40%;
        background-color: red;
        height: 100dvh;
        flex-direction: column;
        position: absolute;
        padding-top: 2rem;
        padding-left: 2rem;
        top: 0;
        right: 0;
        z-index: 99999;
    }
    .list ul{
        display: flex;
        flex-direction: column;
    }
}

div.seo-content-footer {
    margin-bottom: 25px;
}
div.seo-content-footer h1 {
    font-family: 'DINPro-Bold';
    font-size: 20px;
    color: #ffffff;
    position: relative;
    margin-bottom: 30px;
}

div.seo-content-footer h1:after {
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #ffffff;
}


div.seo-content-footer h2 {
    font-family: 'DINPro-Light';
    font-size: 14px;
    list-style: none;
    color: #ffffff;
}

#section-footer a {
    font-family: 'DINPro-Light'; 
    color: #ffffff;
    text-decoration: none;
}
#section-footer {
    padding: 80px 0 40px;
    background-color: #303e65;
}

#section-footer .ft-column h3, .section-footer .ft-column h3 {
    font-family: 'DINPro-Bold';
    font-size: 20px;
    color: #ffffff;
    position: relative;
    margin-bottom: 30px;
}

#section-footer .ft-column h3:after, .section-footer .ft-column h3:after {
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 30px;
    background: #ffffff;
}

/* Column 1 */
#section-footer .ft-column.col1 ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

#section-footer .ft-column.col1 ul:first-of-type {
    margin-right: 60px;
}

#section-footer .ft-column.col1 ul li {
    font-family: 'DINPro-Light';
    font-size: 14px;
    list-style: none;
    color: #ffffff;
}

/* Column 2 */
#section-footer .ft-column.col2 ul, .section-footer .ft-column.col2 ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

#section-footer .ft-column.col2 ul:first-of-type, .section-footer .ft-column.col2 ul:first-of-type {
    margin-right: 40px;
}

#section-footer .ft-column.col2 ul li, .section-footer .ft-column.col2 ul li {
    list-style: none;
    margin-bottom: 5px;
}

#section-footer .ft-column.col2 ul li a, .section-footer .ft-column.col2 ul li a {
    font-family: 'DINPro-Bold';
    font-size: 14px;
    color: #ffffff;
    position: relative;
}

#section-footer .ft-column.col2 ul li a:before, .section-footer .ft-column.col2 ul li a:before {
    content: "";
    width: 0;
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -5px;
    margin: 0 auto;
    left: 0;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

#section-footer .ft-column.col2 ul li a:hover:before {
    width: 60%;
}

/* Column 3 */
#section-footer .ft-column.col3 img {
    float: right;
}

#section-footer .ft-column.col4 ul {
    padding: 0;
    display: inline-block;
    float: left;
}

#section-footer .ft-column.col4 ul li {
    font-family: 'DINPro-Light';
    font-size: 14px;
    list-style: none;
    color: #ffffff;
}

#section-footer .ft-column {
    margin-bottom: 30px;
}

    #section-footer .ft-column.col3 img {
        float: left;
    }
@media only screen and (max-width: 500px) {
    #section-footer .ft-column.col4 ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        float: left;
        margin-right: 14px;
    }

        #section-footer .ft-column.col4 ul li {
            font-family: 'DINPro-Light';
            font-size: 14px;
            list-style: none;
            color: #ffffff;
        }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding-right: 0;
        padding-left: 0;
    }

    #section-footer1 .ft-column:nth-of-type(2) {
        padding-left: 90px;
    }

    #section-footer1 .ft-column:nth-of-type(3) {
        padding-left: 30px;
    }
}

#section-copyright {
    background-color: #982e26;
    padding: 15px 0;
}

#section-copyright .container .row {
    margin-right: 0px;
    margin-left: 0px;
}

#section-copyright ul {
    margin: 0 0 0 80px;
    padding: 0;
}

#section-copyright ul li {
    list-style: none;
    display: inline-block;
}

#section-copyright ul li:first-child {
    margin-right: 40px;
}

#section-copyright ul li a {
    font-family: 'DINPro-Light';
    font-size: 13px;
    color: #ffffff;
    line-height: 30px;
}

#section-copyright p {
    font-family: 'DINPro-Light';
    font-size: 13px;
    color: #ffffff;
}
#section-copyright .dvl {
    margin-left: 0 !important;
}
/* FT Socials */
#section-copyright ul.ft-socials li {
    margin-right: 0px;
}

#section-copyright ul.ft-socials li a {
    background: #303e65;
    padding: 3px 10px;
    border-radius: 5px;
}